html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111111;
  padding: 60px 50px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #ffd000;
}

.logo a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffd000;
  transition: width 0.4s ease;
}

.nav-menu li a:hover::after {
  width: 100%;
}

.nav-menu li a.active::after {
  width: 100%;
}









/****************************************************/
/* Hero Section */
.heromain-container {
  overflow: hidden;
  position: relative;
  display: flex;
  padding-bottom: 5px;
  background-color: #ffd000;
  z-index: 0;
}
.herosub-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.hero-maintext {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.hero-subtext {
  width: 45%;
  padding-left: 3px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 25px;
}
.hero-btns {
  display: flex;
  margin-top: 10px;
  width: 45%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.hero-btns button {
  opacity: 0;
  background-color: #111111;
  font-size: 1.2rem;
  flex: 1 1 150px;
  max-width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  border: 0.1px solid black;
  transition: 0.2s ease-in-out;
}
.hero-btns button:hover {
  background-color: #ffd000;
  border: 3px solid black;
  color: black;
}
.hero-btns button:active {
  background-color: #ffe46a;
  border: 3px solid black;
  color: black;
}
/*hero images*/

.heromain-container img {
  width: auto;
  height: 100%;
}
.hero-img1 {
  right: 20px;
  position: absolute;
  z-index: 2;
  bottom: 2px;
  transform: scale(1.1);
}
.hero-img2 {
  right: 245px;
  position: absolute;
  z-index: 1;
  transform: scale(1.1);
}
@media (max-width: 1266px) {
  .heromain-container img {
    display: none;
  }
}














/*Vehicle Type Headings*/

.header-texts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: center;
  z-index: 1;
}
.heading1 {
  margin-top: 15px;
  margin-right: auto;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  background-color: #ffd000;
  border-radius: 30px;
  width: 150px;
  font-weight: 600;
  transform: scaleY(1.1);
}
.header-texts::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #fcdc50;
  top: 65%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: -1;
}
/***************************************/

/*card section*/

.card-container {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
.card {
  position: relative;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}
.card::after {
  content: "Ratings: 4/5";
  display: flex;
  font-size: 15px;
  font-weight: 600;
  transform: scaleY(1.15);
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #ffd000, #ffe77c, #ffd000);
  position: absolute;
  width: 100%;
  height: 25px;
  top: 43%;
  transition: 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(167, 167, 167, 0.8);
  transform: translateY(-1%);
}
.card img {
  width: 90%;
  height: 48%;
  object-fit: contain;
  transition: 0.2s;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-top: 15px;
  padding: 3px;
}
/*Not Availabale Button*/
.not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 0px 5px #000000;
  top: 30%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card:hover .not-available {
  opacity: 1;
  top: 20%;
}
/********************************/
.carprice-text {
  font-size: 1.4rem;
  font-weight: 650;
  transform: scaleY(1.15);
}
.car-subname {
  font-size: 1.2rem;
  padding-left: 1px;
  opacity: 0.4;
  font-weight: 500;
}
.card-header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0.9;
}
.car-specifications {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  height: 20%;
  width: 95%;
}

.sub-car-specifications {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sub-car-specifications p {
  text-align: center;
  padding-left: 4px;
  opacity: 0.5;
  font-size: 0.9rem;
}
.car-specifications img {
  object-fit: contain;
  width: 25px;
  opacity: 0.8;
}
.booknow {
  font-size: 1rem;
  width: 90%;
  height: 10%;
  background-color: #ffd000;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.booknow:hover {
  background-color: #111111;
  color: white;
}

.card:has(.not-available) {
  filter: grayscale(100%);
}
.booknow-not-available:hover {
  background-color: #d7d7d7;
  color: black;
}


.booknow-not-available {
  cursor: not-allowed;
  opacity: 0.6;
}






/*Booking Form*/
.Booking-form {
  opacity: 0;
  visibility: hidden;
  justify-self: center;
  align-self: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 400px;
  height: 800px;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 10;
  background-color: white;
  transition: 0.2s ease-in-out;
}
.display{
  visibility: visible;
  opacity: 1;
}
.Booking-form.display {
  opacity: 1;
  visibility: visible;
}
.Booking-form img {
  position: absolute;
  object-fit: contain;
  width: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.Booking-form input,
.vehicle-type {
  width: 300px;
  height: 35px;
  color: #626262;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  padding-left: 10px;
  cursor: text;
  transition: 0.2s ease-in-out;
}

.Booking-form input:hover,
.vehicle-type:hover {
  transform: scale(1.03);
}
.form-btn {
  font-weight: 600;
  font-size: 1.1rem;
  width: 150px;
  height: 45px;
  border: none;
  background-color: #ffd000;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.form-btn.rentbtn:hover {
  background-color: #111111;
  color: white;
}
.form-btn.clearbtn:hover {
  background-color: #ff0000;
  color: white;
}
.overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(1px);
}
.display {
  visibility: visible;
  opacity: 1;
}
.error{
  border: 2px solid red !important;
}
input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:not(:placeholder-shown):valid {
  border: 2px solid green;
}








/*animations and Keyframes*/
/*****************************************/
@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.fade-in {
  animation: FadeIn 1s ease-in-out alternate;
}
/********************************************/
@keyframes bumps {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
.bumps {
  animation: bumps 1.3s ease-in-out;
}
/********************************************/
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeSlideUp 1s ease-in-out;
}
/*********************************************/
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px); /* start below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* final position */
  }
}
.slideUpFade {
  --delay-time: 0.1s;
  animation: slideUpFade 1s ease-in-out forwards;
  animation-delay: var(--delay-time);
}
/************************************************/
@keyframes fades {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.fades {
  opacity: 0;
  animation: fades 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
/********************************************/
.footer {
  border-top: 4px solid #fcdc50;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  background-color: #111111;
}

.footer-box h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-box ul li {
  list-style: none;
  padding: 3px;
}

.footer-box ul li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.footer-box ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ffd000;
  transition: width 0.4s ease;
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social a img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.copy-right {
  color: #111111;
  background-color: #ffd000;
  text-align: center;
  padding: 6px;
  border-top: 1px solid #ffffff;
  font-size: 12px;
}

.footer-box ul li a:hover::after {
  width: 100%;
}

.footer-box ul li a.active1::after {
  width: 100%;
}










/***************************/






@media (max-width: 768px) {
    .hero {
        padding: 20px;
        height: 60vh;
    }

    .slider {
        height: 250px;
    }

    .slide {
        transform: translateX(0);
    }
}

@media (max-width: 1024px) {
    .nav-bar {
        padding: 30px 20px;
    }

    .logo {
        font-size: 28px;
    }

    .nav-menu {
        gap: 25px;
    }
}





/* Mobile view */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
    }

}

@media (max-width: 768px) {
    .footer-div {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .social {
        justify-content: center;
    }

    .copy-right {
        font-size: 9px;
        padding: 10px;
    }
    .hero {
        height: 60vh; 
}
}

@media (max-width: 480px) {
    .logo {
        font-size: 22px;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    .slider {
        height: 200px;
    }

    .footer-box h3 {
        font-size: 16px;
    }
    .hero {
        height: 45vh; 
}
}




.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}
@media (max-width:1200px){
  .hero-maintext{
    font-size:3rem;
  }
  .card-container{
    grid-template-columns: repeat(grid-template-columns, repeat(3,1fr));   
  }
}
@media (max-width:992px){
  .hero-maintext{
    font-size:2.5rem;
  }
  .card-container{
    grid-template-columns: repeat(grid-template-columns, repeat(2,1fr));   
  }
 }
 @media (max-width:576px){
  .hero-maintext{
    font-size:2rem;
  }
  .card-container{
    grid-template-columns: repeat(grid-template-columns,1fr);
    .hero-btns {width: 100%;}   
  }
 }



